body {
    background-color: rgb(208, 92, 20);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50em;
}

div { 
    display:flex;
    background-color: rgb(10, 66, 61);
    flex-direction: column;
    /* align-items: end; */
    justify-content: end;
}

div.calculator {
    width:15em;
    height:22em;
}


button {
    color: violet;
    background-color: black;
}