body {
    background-color: rgb(68, 154, 147);
    display:flex;  
    justify-content: center; 
    align-items: center; 
    height: 50em;
}

div { 
    background-color: rgb(143, 13, 104);    
}

.calculator {
  display:flex;
  flex-direction: column;
  height: 17em;
  width:8em;
  /*height:15em; */
  flex-wrap:wrap; 
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;

}
/* .calculator>* {
    /* flex: 1 2 auto;  */


.operator {
    color:orange;
}




button {
    width:2.6em;
    height:2.6em; 
    color: turquoise;
    background-color: black;
    border-radius: 50%; 
    margin-left:3%;
}

#display {
  display:flex;
  width:7em;
  height:60px;
  
  justify-content: end;
  align-items: end;
  align-self:center;
  border-radius: 10%;
  background-color:rgb(230, 29, 169);
}